/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html, body { height: 100%}
body { margin: 0; font-family: 'Roboto', sans-serif !important;}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.mat-mdc-form-field {
  width: 100% !important;
}
example-card {
  margin: auto !important;
}

