.example-spacer {
  flex: 1 1 auto;
}

.cards {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
}

.card {
  width: 90%;
  max-width: 90%;
  margin: auto;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}

.userModules {
  width: 100%;
}

.chip-status {
  width: 100%;
  font-size: 10px !important;
  font-weight: 600 !important;
  background-color: #7b2cbf !important;
  color: #fff !important;
  --mdc-chip-label-text-color: #fff !important;
  text-align: center !important;
  align-items: center !important;
}